<%- include("partials/header") -%>



<% all_posts.forEach(element => {%>
    <h1> <%= element.title %> </h1>
    <% if(element.des.length > 100){%>
        <%= element.des.substring(0 , 100) + "..."  %><a href="/posts/<%= element._id %> " action="get" >Read More</a>
    <%}else {%>
    <p> <%= element.des %> </p>
<%}})%>

    



<%- include("partials/footer") -%>  