<%- include("partials/header") -%>

<h1><%= title %></h1>
<p> <%= content %></p>

<% all_posts.forEach(element => {%>
    <h1> <%= element.title %> </h1>
    <% if(element.content.length > 100){%>
        <%= element.content.substring(0 , 100) + "..."  %><a href="/posts/<%= element.title %> " action="get" >Read More</a>
    <%}else {%>
    <p> <%= element.content %> </p>
<%}})%>

    



<%- include("partials/footer") -%>  